h1 {
    text-align: center;
    background-color: black;
    color: white;
    border-radius: 30px;
    height: 120px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 20px;
    box-shadow: 10px 10px 15px grey;
}

span {
    font-size: 20px;
}

footer {
    background-color: grey;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    font-size: 15px;
    color: white;
}

canvas {
    border: 3px white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;
    background-color: rgb(88, 8, 67);
}